ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0px 15px;
  max-width: 1168px;
  margin: 0 auto;
}

body {
  background-color: #fff;
  font-family: "Jost";
  font-weight: 500;
  padding-top: 81px;
}

.backdrop {
  transition-duration: 0.25s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-window {
  transition: 0.5s;
  padding: 8px 0px 40px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal-close {
  margin-right: 8px;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.25s;
}

.modal-close:hover .hrestyk {
  fill: #111;
}

.hrestyk {
  fill: #000;
  width: 18px;
  height: 18px;
  transition: 0.25s;
}

.modal-title {
  max-width: 370px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.input-container1 {
  width: 328px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.25s;
}

.input-container1:hover .input-icon {
  fill: #111;
}

.input-container2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.25s;
}

.input-container2:hover .input-icon2 {
  fill: #111;
}

.input-container3 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.25s;
}

.input-container3:hover .input-icon3 {
  fill: #111;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-input {
  width: 328px;
  caret-color: #000;
  position: relative;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  transition: 0.25s;
}

.modal-input2 {
  width: 328px;
  caret-color: #000;
  position: relative;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  transition: 0.25s;
}

.modal-input3 {
  width: 328px;
  caret-color: #000;
  position: relative;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  transition: 0.25s;
}

.modal-input:hover,
.modal-input:focus,
.modal-input2:hover,
.modal-input2:focus,
.modal-input3:hover,
.modal-input3:focus {
  border: 1px solid #111;
}

.modal-input:focus + .input-icon {
  fill: #111;
}

.modal-input2:focus + .input-icon2 {
  fill: #111;
}

.modal-input3:focus + .input-icon3 {
  fill: #111;
}

.modal-input4 {
  margin: 0 auto;
  width: 358px;
  position: relative;
  padding-left: 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  padding-bottom: 97.4px;
  transition: 0.25s;
}

.modal-input4:hover,
.modal-input4:focus {
  border: 1px solid #111;
}

.visually-hidden {
  margin: 10px 0px 4px 0px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 127px;
  z-index: 1;
  transition: 0.25s;
}

.input-icon2 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 200px;
  z-index: 1;
  transition: 0.25s;
}

.input-icon3 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 272px;
  z-index: 1;
  transition: 0.25s;
}

.modal-box {
  gap: 8px;
  margin-top: 25px;
}

.modal-form {
  width: 100%;
}

.checkbox-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: 0.25s;
}

.modal-conditions {
  color: #111;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-submitBtn {
  margin: 30px auto;
  padding: 10px 52px 10px 52px;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #111;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-box {
  display: flex;
  justify-content: center;
}

.fake-chekbox {
  position: relative;
  /* background-color: $main-color; */
  width: 12px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.galochka {
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
}

.modal-checkbox:checked + .fake-chekbox {
  background-color: #111;
  opacity: 1;
  border: none;
  width: 16px;
  height: 15px;
}

.modal-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.footer {
  position: relative;
  padding: 60px 0px 0px 0px;
}
.footer__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer__list .footer__link {
  font-size: 19px;
}
.footer__link {
  color: #111;
  font-size: 16px;
}
.footer__second-list {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 48px;
}
.footer__firs-sublist {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__second-sublist {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__second-hover-list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 48px;
  transition: 0.3s;
}
.footer__second-hover-list:hover .footer__second-hover-list {
  display: inline-flex;
}
.footer__second-list .footer__link, .footer__second-hover-list .footer__link {
  color: #707072;
  transition: 0.2s;
}
.footer__second-list .footer__link:hover, .footer__second-hover-list .footer__link:hover {
  color: #111;
}
.footer__second-list .footer__item, .footer__second-hover-list .footer__item {
  width: 184px;
}
.footer__transform-box {
  bottom: 0;
  transition: 0.2s;
  transition-delay: 0.3s;
  height: 470px;
  background-color: #ffffff;
  transform: translateY(-270px);
  z-index: 10;
}
.footer__second-list:hover ~ .footer__transform-box {
  transform: translateY(0);
}

.header {
  padding: 14px 0px 14px 0px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: transform 0.1s linear;
}
.header.hide {
  transform: translateY(-81px);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: end;
  transition: 0.5s;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__logo1 {
  font-weight: 600;
  font-size: 36px;
  color: #111;
}
.header__logo2 {
  font-weight: 600;
  font-size: 36px;
  color: #C8815F;
}
.header__list-link {
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__link {
  position: relative;
  font-weight: 400;
  font-size: 19px;
  line-height: 141%;
  color: #111;
}
.header__link::before {
  position: absolute;
  bottom: -5px;
  display: block;
  content: "";
  width: 100%;
  background-color: #111;
  height: 2px;
  opacity: 0;
  transition: 0.4s;
}
.header__link:hover::before {
  opacity: 1;
}
.header__icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__icon {
  height: 22px;
  width: 22px;
}
.header__input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__input-container:hover .header__search-input {
  background-color: #E5E5E5;
}
.header__input-container:hover .header__search-btn {
  background-color: #CACACB;
}
.header__search-btn {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  outline: none;
  border-radius: 50%;
  border: none;
  transition: 0.3s;
}
.header__icon-search {
  fill: #111;
}
.header__search-input {
  font-family: "Jost";
  font-weight: 400;
  font-size: 17px;
  padding: 0;
  padding-left: 41px;
  height: 36px;
  width: 110px;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}
.header__search-input::-moz-placeholder {
  font-family: "Jost";
  font-weight: 400;
  font-size: 19px;
}
.header__search-input::placeholder {
  font-family: "Jost";
  font-weight: 400;
  font-size: 19px;
}
.header__icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
}

.hero {
  padding: 40px 0px 40px 0px;
  display: flex;
  align-items: center;
}
.hero__subtitle {
  font-size: 17px;
  line-height: 141%;
  color: #111;
}
.hero__title {
  width: 435px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}
.hero__btn {
  display: block;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 12px 32px;
  width: 138px;
  height: 48px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #111;
  font-family: "Jost";
}
.hero__text {
  width: 500px;
  z-index: -1;
  font-family: "Sofia Sans", serif;
  position: absolute;
  font-weight: 700;
  font-size: 150px;
  line-height: 80%;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
}
.hero__img {
  width: 1000px;
}/*# sourceMappingURL=index.css.map */