.container {
    padding: 0px 15px;
    max-width: 1168px;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #fff;
    color: #111111;
     font-family: "Jost";
     font-weight: 500;
     padding-top: 81px;
}

html {
    scroll-behavior: smooth;
}