.accessories {
    padding: 100px 0px 50px 0px;

    &__title {
        margin-left: 40px;
        font-size: 30px;
        font-weight: 500;
    }

    &__cards-list {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
   }

   &__img {
        width: calc(100% - 20px);
   }

   &__text {
    margin-top: 15px;
    font-size: 20px;
   }
}