.checkout {
    padding: 30px 0px 30px 0px;

    &__logo {
        display: block;
        margin: 0 auto;
    }

    & .container {
        width: 1071px;
    }

    &__logo-box {
        display: flex;
        justify-content: center;
        width: 60px;
        margin: 0 auto;
    }

    &__title {
        margin-top: 55px;
        text-align: center;
        font-weight: 400;
        font-size: 27px;
    }

    &__list {
        margin-top: 30px;
        display: flex;
        gap: 45px;
    }

    &__box2 {
        width: 351px;
    }

    &__box1 {
        width: 675px;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chekout__subtitle {
        font-weight: 400;
        font-size: 25px;
    }

    &__btn-list {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-family: "Jost";
    }

    &__btn-list li:nth-child(1) button {
        outline: 2px solid #000;
    }

    &-btn {
        width: 331px;
        font-size: 18px;
        padding: 15px 20px;
        border-radius: 7px;
        font-family: "Jost";
        border: 1px solid #d7d7d7;
    }

    &__input1 {
        font-size: 18px;
        font-family: "Jost";
        margin-top: 20px;
        border: 1px solid #acacac;
        outline: none;
        width: calc(100% - 24px);
        padding: 15px 12px 15px 12px;
        border-radius: 7px;
    }

    &__input1::placeholder {
        font-size: 18px;
        font-family: "Jost";
    }

    &__input-list {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      
    }

    &__input {
        padding: 15px 12px 15px 12px;
        width: 305px;
        border-radius: 7px;
        border: 1px solid #acacac;
        font-size: 18px;
        font-family: "Jost";
    }

    &__text {
        text-decoration:underline ;
        margin: 20px 0px 20px 0px;
        font-size: 14px;
        font-weight: 400;
        color: #848484;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    &__save {
        display: flex;
        margin: 20px 0px 0px auto;
        font-weight: 500;
        border-radius: 50px;
        padding: 10px 20px;
        outline: none;
        border: none;
        font-size: 18px;
        font-family: "Jost";
        background-color: #d9d9d9c1;
        color: #9b9b9b;
    }

    .chekout__text-info {
        font-size: 18px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    &__block {
        margin-bottom: 30px;
    }

    &__block-list {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__block2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__subtitle2 {
        font-size: 18px;
        font-weight: 400;
    }

    &__text-info2 {
        font-size: 18px;
        font-weight: 400;
    }

    &__line {
        margin-top: 15px    ;
        width: 100%;
        height: 1px;
        background-color: #b6b6b658;
    }

    &__cart-cards {
        display: flex;
        gap: 20px;
    }

    &__cart-cards {
        margin-top: 30px;
    }

    &__cards-img {
        width: 60px;
        height: 60px;
    }

    &__cards-title {
        font-size: 18px;
        font-weight: 400;
    }

    &__cards-price {
        color: #acacac;
        margin-top: 2px;
        font-size: 16px;
        font-weight: 400;
    }

    &__modal-window {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
        border-radius: 10px;
        height: 250px;
        width: 440px;
        background-color: #fff;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__modal-title {
        color: #111;
        text-align: center;
    
    }

    &__modal-link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #111;
        border: 1px solid #111;
        color: #fff;
        border-radius: 50px;
        width: 250px;
        height: 50px;
        transition: .3s;
    } 

    &__modal-close {
        right: 20px;
        top: 17px;
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none;
        width: 27px;
        height: 27px;
    }

    





}

