.dn {
    padding-left: 50px 0px 70px 0px;
    &__img {
        margin-bottom: 40px;
    }

    &__subtitle {
        font-size: 18px;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 459px;
        font-weight: 400;
    }

    &__title {
        font-weight: 900;
        font-size: 58px;
        letter-spacing: -2px;
        text-align: center;
    }

    
   &__text{
        font-size: 18px;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 459px;
        font-weight: 400;
   }


}