//  .visually-hidden {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
    
//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   } 

  .backdrop {
    transition-duration: 0.25s;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 10;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal-window {
    transition: 0.5s;
    padding: 8px 0px 40px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 450px;
    height: 609px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .modal-close {
    margin-right: 8px;
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 50%;
    
    width: 30px;
    height: 30px;
    transition: 0.25s;
    
  }
  
  .modal-close:hover .hrestyk {
    fill: $main-color;
  }
  
  .hrestyk {
    fill: #000;
    width: 18px;
    height: 18px;
    transition: 0.25s;
  }
  
  .modal-title {
    max-width: 370px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  
  .input-container1 {
    width: 328px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.25s;
    
  }
  
  .input-container1:hover .input-icon {
    fill: $main-color;
  }
  
  .input-container2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.25s;
    
  }
  
  .input-container2:hover .input-icon2 {
    fill: $main-color;
  }
  
  .input-container3 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.25s;
    
  }
  
  .input-container3:hover .input-icon3 {
    fill: $main-color;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .modal-input {
    width: 328px;
    caret-color: #000;
    position: relative;
    padding-left: 42px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    transition: 0.25s;
    
  }
  
  .modal-input2 {
    width: 328px;
    caret-color: #000;
    position: relative;
    padding-left: 42px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    transition: 0.25s;
    
  }
  
  .modal-input3 {
    width: 328px;
    caret-color: #000;
    position: relative;
    padding-left: 42px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    transition: 0.25s;
    
  }
  
  .modal-input:hover,
  .modal-input:focus,
  .modal-input2:hover,
  .modal-input2:focus,
  .modal-input3:hover,
  .modal-input3:focus {
    border: 1px solid $main-color;
  }
  
  .modal-input:focus + .input-icon {
    fill: $main-color;
  }
  
  .modal-input2:focus + .input-icon2 {
    fill: $main-color;
  }
  
  .modal-input3:focus + .input-icon3 {
    fill: $main-color;
  }
  
  .modal-input4 {
    margin: 0 auto;
    width: 358px;
    position: relative;
    padding-left: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    padding-bottom: 97.4px;
    transition: 0.25s;
    
  }
  
  .modal-input4:hover,
  .modal-input4:focus {
    border: 1px solid $main-color;
  }
  
  .visually-hidden {
    margin: 10px 0px 4px 0px;
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  
  .input-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 127px;
    z-index: 1;
    transition: 0.25s;
    
  }
  
  .input-icon2 {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 200px;
    z-index: 1;
    transition: 0.25s;
    
  }
  
  .input-icon3 {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 272px;
    z-index: 1;
    transition: 0.25s;
    
  

  }
  
  .modal-box {
    gap: 8px;
    margin-top: 25px;
  }
  
  .modal-form {
    width: 100%;
  }
  
  .checkbox-text {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    transition: 0.25s;
    
  }
  
  .modal-conditions {
    color: $main-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
  }
  
  .modal-submitBtn {
    margin: 30px auto;
    padding: 10px 52px 10px 52px;
    border: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $main-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .button-box {
    display: flex;
    justify-content: center;
  }
  
  .fake-chekbox {
    position: relative;
    /* background-color: $main-color; */
    width: 12px;
    height: 11px;
    border: 2px solid #fff;
    border-radius: 2px;
  }
  
  .galochka {
    width: 13px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
  }
  
  .modal-checkbox:checked + .fake-chekbox {
    background-color: $main-color;
    opacity: 1;
    border: none;
    width: 16px;
    height: 15px;
  }
  
  .modal-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }