.Dunk {
    padding: 180px 0px 180px 0px;
    transition: .5s;
   

    &__flex-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__shadow {
        width: 1100px;
        position: absolute;
        right: -100px;
        top: -400px;
    }

    &__box {
        margin-right: 400px;
    }

    &__container {
        position: relative;
    }

    &__subtitle {
        font-size: 16px;
        color: #3F5067;
        font-weight: 600;
    }

    &__title {
        line-height: 74px;
        max-width: 375px;
        font-size: 78px;
        color: #3F5067;
        font-weight: 900    ;
        margin-top: 55px;
    }

    &__text {
        margin-top: 100px;
        font-weight: 600;
        font-size: 16px;
        color: #3F5067;
    }

    &__img {
        top: -95px;
        right: 30px;
        position: absolute;
        width: 836px; 
        transform: rotate(-43deg);
    }




    &__button-right, &__button-left {
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 1;


    }

    &__icon {
       width: 60px;
       height: 60px;
       transition: .2s ;
       fill: #fff;
    }

    &__icon:hover {
        transform: scale(1.2);
    }

}