.Dunk {
    padding: 80px 0px 90px 0px;
    transition: .5s;

    .container {
        padding: 0;
    }

    &__flex-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 66px;
        font-weight: 900    ;
    }

    &__img {
        color: rgb(18, 44, 19);
        width: 700px;
        transform: rotate(-30deg);
    }
    &__button-right, &__button-left {
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 1;


    }

    &__icon {
       width: 60px;
       height: 60px;
       transition: .2s ;
       fill: #fff;
    }

    &__icon:hover {
        transform: scale(1.2);
    }

}