.top {
    padding: 100px 0px 100px 0px;

    &__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        gap: 15px;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: 380px;
        border-radius: 10px;
        height: 474px;
        transition: .3s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    &__item:hover  &__hover-block  {
       opacity: 1;
        transition: .3s;
    }

    &__img {
        width: 100%;
    }

    &__sub-title {
        margin-left: 20px;
        color: #FFF;
        font-size: 36px;
        opacity: .8 ;
        position: absolute;
        bottom: 50px;
    }

    &__text {
        margin-left: 20px;
        color: #FFF;
        font-size: 16px;
        opacity: .8 ;
        position: absolute;
        bottom: 20px;
    }

    &__hover-block {
       opacity: 0;
        background-color: rgba(22, 19, 59, 0.55);
        position: absolute; 
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        transition: .3s;
    }
}